@import url("https://fonts.googleapis.com/css2?family=Average+Sans&family=Hind+Siliguri:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  display: none;
}

/* Works for Firefox */
* {
  scrollbar-width: none;
}

/* Works for IE and Edge */
* {
  -ms-overflow-style: none;
}
